{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form Faisal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/formTest.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Select2 Script -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />

</head>

<body>
  <!-- <div data-theme="light" id="rajaongkir-widget"></div> -->
  <section name="form">
    <div class="py-5 bg-primary text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Order</h1>
            <p>Text apa kek co</p>
            <form method="POST" action="{% url 'IHAM_app:add_data' %}">
              {% csrf_token %}
              <div class="col-md-6" style="padding-left: 0;">
                <div class="form-group">
                  <label for="InputName">Your name</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-address-card-o"></i>
                    </div>
                    <input type="text" class="form-control" id="InputName" placeholder="Your name" required pattern="[A-Za-z]+" title="Name must be alphabet" name="name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="InputEmail">Email address</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-at"></i>
                    </div>
                    <input type="email" class="form-control" id="InputEmail" placeholder="Enter email" required="required" name="email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Phone Number</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-mobile-phone"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter phone number" required pattern="[0-9]{10,12}" id="phone-number" title="Input must be 10-12 'number'" name="phone">
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" id="checkboxA" value="True"> Product A (Rp 5000)
                    </label>
                    <input type="text" class="form-control w-100" placeholder="Enter quantity(Number)" id="quantity-productA" style="display: none" pattern="[0-9]+" name="productQuantityA">
                  </div>
                </div>
                <div class="col-md-3" style="padding-right: 0;">
                  <div class="form-check">
                     <label class="form-check-label">
                       <input class="form-check-input" type="checkbox" id="checkboxB">Product B (Rp 7000)&nbsp;
                     </label>
                     <input type="text" class="form-control w-100" placeholder="Enter quantity(Number)" id="quantity-productB" style="display: none" pattern="[0-9]+" name="productQuantityB">
                   </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p>Total Product Price: Rp <span id="harga-barang">0</span></p>
                </div>
              </div>
              <br>
              <label class="form-control-label">Order Address:</label>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Street</label>
                    <input type="text" class="form-control w-100" required="required" name="street">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">District/City</label>
                      <select class="form-control my-select-city" name="city">
                        <option value=""></option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p>Shipping Price: Rp <span id="ongkos-kirim">0</span></p>
                  <h2>Total Price: Rp <span id="total-harga">0</span></h2>
                </div>
              </div>
              <br>
              <button type="submit" class="btn d-flex" id='submit-button'>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<!-- Jquery n Bootstrap Script -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!-- Select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<!-- JS -->
<script src="{% static 'js/formTest.js' %}"></script>
<script>

  $(document).ready(function(){
    var listCity;
    var i = 1;
    $.ajax({
        method: "GET",
        url: "{% url "IHAM_app:get_city" %}",
        async: false,
        success : function (data) {
            listCity = data['rajaongkir']['results'];
            for (var i = 0; i < listCity.length; i++) {
              listCity[i]['id'] = listCity[i]['city_id'];
              listCity[i]['text'] = listCity[i]['type'] + " " + listCity[i]['city_name'];
            }
            console.log(listCity);
            $(".my-select-city").select2({
              "data" : listCity
             });

            return listCity;

        
    }});

    $(".my-select-city").on('change', function (e){
      var index;
      var id_kota = $(".my-select-city").val();
      for (var i = 0; i < listCity.length; i++){
        if (listCity[i]['id'] == id_kota){
          index = i;
          break;
        }
      }
      $.ajax({
        method: "GET",
        url: "{%url "IHAM_app:get_price" %}",
        data:{
          destination: listCity[index]['id']

        },
        success : function(data) {
          $("#ongkos-kirim").text(data['rajaongkir']['results'][0]['costs'][1]['cost'][0]['value']);
        }
      })
    });
    
  });
</script>
</html>
