{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form Faisal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/formTest.css' %}" />
</head>

<body>
  <!-- <div data-theme="light" id="rajaongkir-widget"></div> -->
  <section name="form">
    <div class="py-5 bg-primary text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Order</h1>
            <p>Text apa kek co</p>
            <form method="POST" >
              <div class="form-group"> <label for="InputName">Your name</label>
                <input type="text" class="form-control w-50" id="InputName" placeholder="Your name"> </div>
              <div class="form-group"> <label for="InputEmail1">Email address</label>
                <input type="email" class="form-control w-50" id="InputEmail" placeholder="Enter email"> </div>
              <div class="form-group"><label class="form-control-label">Phone Number</label>
                <input type="text" class="form-control w-50" placeholder="Enter phone number">
              </div>
              <div class="form-check"> <label class="form-check-label"> <input class="form-check-input" type="checkbox" value=""> Product A</label> </div>
              <div class="form-check"> <label class="form-check-label"> <input class="form-check-input" type="checkbox" value="">Product B&nbsp;</label> </div>
              <div class="form-group"><label class="form-control-label">Order Address:</label></div>
              <div class="form-group w-50"><label class="form-control-label">Street</label>
                <input type="text" class="form-control w-100">
              </div>
              <div class="form-group w-50"><label class="form-control-label">State/Province&nbsp;</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group w-50"><label class="form-control-label">City</label>
                <input type="text" class="form-control w-100">
              </div>
              <div class="form-group w-50"><label class="form-control-label">Postal Code</label>
                <input type="text" class="form-control w-100">
              </div>
              <button type="submit" class="btn btn-secondary d-flex">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<!-- Jquery n Bootstrap Script -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!-- Raja Ongkir Script -->
<!-- <script type="text/javascript" src="//rajaongkir.com/script/widget.js"></script> -->
{% block javascript %}

{% endblock %}
</html>
