{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/formTest.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Select2 Script -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body style="display: none">
  <!-- <div data-theme="light" id="rajaongkir-widget"></div> -->
  <section name="form">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Order</h1>
            <form id="form" method="POST" action="{% url 'IHAM_app:add_data' %}">
              {% csrf_token %}
              <div class="col-md-6" style="padding-left: 0;">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" id="InputName" placeholder="Your name" required pattern="[A-Za-z ]+" title="Name must be alphabet" name="name">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="email" class="form-control" id="InputEmail" placeholder="Enter email" required="required" name="email" onkeyup="email_checkPromo()">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter phone number" required pattern="[0-9]{10,12}" id="phone-number" title="Input must be 10-12 'number'" name="phone">
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-check">
                    <p><Strong>Tea Tree Organic</Strong> Painless Peel Off Mask <span class="badge badge-secondary">IDR 89000</span></p>
                    <input type="text" class="form-control w-100" placeholder="Enter quantity(Number)" id="quantity-productA" pattern="[0-9]+" name="productQuantityA">
                  </div>
                </div>
                <div class="col-md-3" style="display: none">
                  <div class="form-check">
                     <label class="form-check-label">
                       <input class="form-check-input" type="checkbox" id="checkboxB">Product B (Rp 7000)&nbsp;
                     </label>
                     <input type="text" class="form-control w-100" placeholder="Enter quantity(Number)" id="quantity-productB" style="display: none" pattern="[0-9]+" name="productQuantityB">
                   </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p>Total Product Price: Rp <span id="harga-barang">0</span></p>
                </div>
              </div>
              <br>
              <label class="form-control-label">Order Address:</label>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control w-100" required="required" name="street" onkeyup="updateAddress()" id="street" placeholder="Enter your address">
                  </div>
                  <div class="form-group">
                    <select class="form-control my-select-city" name="city" style="width: 100%;">
                      <option value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control w-100" required pattern="[0-9]{5}" name="postal" onkeyup="updateAddress()" id="postal" placeholder="Enter your postal code" title="Postal code consist of 5 number">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Ship To <span id="order-address"></span></p>
                  <p>Shipping Price: Rp <span id="ongkos-kirim">0</span></p>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" class="form-control w-100" name="promotion-code" id="promotion-code" placeholder="Input if you have promotion code" onkeyup="check_promo()">
                      </div>
                      <div class="col-md-6">
                        <span id="promo-icon"></span>
                      </div>
                    </div>
                  </div>
                  <h2>Total Price: Rp <span id="total-harga">0</span></h2>
                </div>
              </div>
              <br>
              <button type="submit" class="btn d-flex" id='submit-button'>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<!-- Jquery n Bootstrap Script -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!-- Select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<!-- JS -->
<script src="{% static 'js/formTest.js' %}"></script>
<script>
  var listCity;
  var i = 1;
  var city;
  var kotaDipilih;
  var kotaUntukDataBase;
  var updateAddress = function(){
    var street = $("#street").val();
    try {
      var city = kotaDipilih['text'];
      var province = kotaDipilih['province'];
      var postal_code = $("#postal").val();
      $("#order-address").text(street + " , " + city + " , " + province + " , " + postal_code);
    } catch (e) {
      $("#order-address").text(street);
    }
  }
  var email_checkPromo = function(){
    var current_code = $("#promotion-code").val();
    if (current_code != "") {
      check_promo();
    }
  }
  var check_promo = function(){
    var current_code = $("#promotion-code").val();
    var email = $("#InputEmail").val();
    $.ajax({
      method: "POST",
      url: "/form/check_code/",
    data: {code : current_code, email_check : email},
      success : function(data){
        console.log(data);
        if ((typeof data) == "object") {
          promoAmount = data['promoAmount'];
          $("#promo-icon").html("<p style='margin-bottom: 0;'>&#10004; You got discount <span id='promo-amount'>" + promoAmount + "</span> % of total price</p>");
        }
        else if (data === "email"){
          $("#promo-icon").html("<p>Promo code already used by this email &#10006;</p>");
        }
        else {
          if (current_code == "") {
            $("#promo-icon").html("");
          } else {
            $("#promo-icon").html("<p>&#10006;</p>");
          }
        }
        updatePrice();
      }
    });
  }

  $(document).ready(function(){


    var form = $('#form');
    $(form).submit(function(event) {
      // Stop the browser from submitting the form.
      event.preventDefault();

      // TODO
      // Serialize the form data.]
      var nama = $("#InputName").val().toString();
      var email = $("#InputEmail").val().toString();
      var nomor_hp = $("#phone-number").val().toString();
      var productA = $("#quantity-productA").val().toString();
      var productB = $("#quantity-productB").val().toString();
      var alamat = document.getElementById("order-address").innerHTML.toString();
      var kodepos = $("#postal").val().toString();
      var kota = kotaUntukDataBase.toString();
      var kode_promo = $("#promotion-code").val().toString();
      var harga_barang = document.getElementById("harga-barang").innerHTML.toString();
      var harga_kurir = document.getElementById("ongkos-kirim").innerHTML.toString();
      var total_harga = document.getElementById("total-harga").innerHTML.toString();

      // Submit the form using AJAX.
      $.ajax({
        type: 'POST',
        url: $(form).attr('action'),
        data: {
          name : nama,
          email : email,
          phone : nomor_hp,
          productQuantityA : productA,
          productQuantityB : productB,
          street : alamat,
          kota : kota,
          promoCode : kode_promo,
          productPrice: harga_barang,
          shippingPrice : harga_kurir,
          totalPrice : total_harga
        },
        success: function(data){
          alert(data);
          window.location.reload();
        },
        error: function(){
          alert("Failed");
          window.location.reload();
        }
      });
    });

    // Ajax untuk mendapat data provinsi dan ditampilkan dalam select province
    $.ajax({
        method: "GET",
        url: "{% url "IHAM_app:get_city" %}",
        async: false,
        success : function (data) {
            listCity = data['rajaongkir']['results'];
            for (var i = 0; i < listCity.length; i++) {
              listCity[i]['id'] = listCity[i]['city_id'];
              listCity[i]['text'] = listCity[i]['type'] + " " + listCity[i]['city_name'];
            }
            console.log(listCity);
            if (localStorage.getItem("listCity") === null) {
              localStorage.setItem("listCity", JSON.stringify(listCity));
            }
            $(".my-select-city").select2({
              placeholder: "Select Your Region",
              "data" : listCity
             });
        }
    });

    $(".my-select-city").on('change', function (e){
      var index;
      var id_kota = $(".my-select-city").val();
      for (var i = 0; i < listCity.length; i++){
        if (listCity[i]['id'] == id_kota){
          index = i;
          kotaDipilih = listCity[i]
          break;
        }
      }

      console.log(kotaDipilih);
      updateAddress();
      $.ajax({
        method: "GET",
        url: "/form/get_price/" + (index+1) + "/",
        success : function(data) {
          console.log(data);
          var nama_kota = data['rajaongkir']['destination_details']['city_name'];
          kotaUntukDataBase = nama_kota;
          console.log(nama_kota);
          if ((data['rajaongkir']['results'][0]['costs']).length > 0) {
            try {
                var shipping_cost = data['rajaongkir']['results'][0]['costs'][1]['cost'][0]['value'];
            }
            catch(err) {
                var shipping_cost = data['rajaongkir']['results'][0]['costs'][0]['cost'][0]['value'];
            }
          } else {
              shipping_cost = 0;
          }
          getShippingCost(shipping_cost);
          updatePrice();

        }
      })
    });



    // Menampilkan halaman HTML [HARUS SELALU DIAKHIR DOCUMENT READY]
    $("body").css("display", "inherit");
  });
</script>
</html>
