{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		<!-- meta -->
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>IHAMask</title>

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
	    <link rel="stylesheet" href="{% static 'css/main.css' %}">
	    <link rel="stylesheet" href="{% static 'css/story.css' %}">
	    <link rel="stylesheet" href="{% static 'css/order.css' %}">
	    <link rel="stylesheet" href="{% static 'css/products.css' %}">
	    <link rel="stylesheet" href="{% static 'css/one-page-style.css' %}">
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
				<script src="{% static 'js/html5shiv.js"></script>
				<script src="{% static 'js/respond.js"></script>
			<![endif]-->

			<!--[if IE 8]>
		    	<script src="{% static 'js/selectivizr.js"></script>
		    <![endif]-->
	</head>
<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1">

<!-- Home -->
	<section class="header" id="header">
		
		<nav class="navbar navbar-default" id="navigation-bar">
			<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index-one-page.html">IHA</a>
				</div> <!-- /.navbar-header -->

		    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#header">home</a></li>
						<li><a href="#story">story</a></li>
						<li><a href="#products">products</a></li>
						<li><a href="#faq">faq</a></li>
						<li><a href="#contact">contact</a></li>
						<li><a href="#order" style="font-size:14px;"><strong>order</strong></a></li>
					</ul> <!-- /.nav -->
			    </div><!-- /.navbar-collapse -->
		  	</div><!-- /.container -->
		</nav>
		<div class="container">
			<div class="header-table">
				<div class="header-wrapper">
					<h1 class="header-title">
						NATURE TO GET BETTER
					</h1>
					<a class="header-subtitle" href="#order" >
						<strong>order</strong> now
					</a>
				</div> <!-- /.header-wrapper -->
			</div>
		</div> <!-- /.container -->
	</section> <!-- /#header -->


<!-- story Us -->
	<section class="story" id="story">
		<div class="container section-wrapper">
			<h2 class="section-title black">
				our story
			</h2> <!-- /.section-title -->
			<div class="underline purple"></div>	
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<img src="{% static 'images/story-1.png' %}" alt="story" class="story-img">
				</div> <!-- /.col-md-3 -->
				<div class="col-md-3 col-sm-6">
					<img src="{% static 'images/story-2.png' %}" alt="story" class="story-img">
				</div> <!-- /.col-md-3 -->

				<div class="col-md-6 col-sm-12">
					<p class="story-detail">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies consectetur dolor non luctus. Praesent vitae dignissim est. Suspendisse rutrum auctor scelerisque. Ut cursus magna euismod posuere placerat. Aenean hendrerit ut dui eu consequat. Donec egestas condimentum dui, in tincidunt felis ornare id. Morbi lobortis, dolor id elementum consectetur, nunc nibh molestie turpis, vitae condimentum leo leo eget lacus. Morbi id commodo velit, non gravida nunc.					</p> <!-- /.story-detail -->
				</div> <!-- /.col-md-6 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</section> <!-- /.story -->


<!-- Our Team -->
	<section class="team">
		<div class="container section-wrapper">
			<h2 class="section-title black">
				buat naro foto
			</h2> <!-- /.section-title -->
			 <!-- /.row -->
	</section> <!-- /.team -->


<!-- Note -->
	<section class="note grad">
		<div class="container section-wrapper text-center">
			<div class="quoter">Introducing IHA Mask</div>
			<p class="quote">
			Description
			</p> <!-- /.quote -->
		</div> <!-- /.container -->
	</section> <!-- /.note -->
	

<!-- Deskripsi Produk -->
	<section class="fun">
		<div class="container section-wrapper">
		<h2 class="section-title black">
				Tea Tree Organic
			</h2> <!-- /.section-title -->
			<div class="underline purple"></div>	
			<div class="row">
				<div class="col-sm-3 col-xs-6">
					<div class="fun-box">
						<div class="number">
							1956628
						</div>
						<div class="number-title">
							lines of code
						</div>
					</div> <!-- /.fun-box -->
				</div> <!-- /.col-md-3 -->
				<div class="col-sm-3 col-xs-6">
					<div class="fun-box">
						<div class="number">
							1473
						</div>
						<div class="number-title">
							cups of coffee
						</div>
					</div> <!-- /.fun-box -->
				</div> <!-- /.col-md-3 -->
				<div class="col-sm-3 col-xs-6">
					<div class="fun-box">
						<div class="number">
							500
						</div>
						<div class="number-title">
							projects delivered
						</div>
					</div> <!-- /.fun-box -->
				</div> <!-- /.col-md-3 -->
				<div class="col-sm-3 col-xs-6">
					<div class="fun-box">
						<div class="number">
							101
						</div>
						<div class="number-title">
							satisfied clients
						</div>
					</div> <!-- /.fun-box -->
				</div> <!-- /.col-md-3 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.fun -->


<!-- Our productss -->
	<section class="products" id="products">
		<div class="container">
			<div class="_section-wrapper">
				<h2 class="section-title black">
					Frequently Asked Questions
				</h2> <!-- /.section-title -->
				<div class="underline purple"></div>
				<div class="row">
					<div class="">
						<img src="{% static 'images/products.png' %}" alt="products" class="products-img img-responsive">
					</div>
					<div class="col-md-offset-4 col-md-8 col-sm-12 productss">
						<div class="row">
							<div class="col-xs-6 col-sm-4">
								<div class="products-item">
									<h3 class="section-item-title">
										question
									</h3>
									<p class="section-item-detail">
										heheheehhehehehheheheheheh
									</p>
								</div> <!-- /.products-item -->
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="products-item">
									<h3 class="section-item-title">
										question
									</h3>
									<p class="section-item-detail">
										heheheehhehehehhehehehehehehhehhehehehehhehehehehehhehehehehehehhehehhehehhe									</p>
								</div> <!-- /.products-item -->
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="products-item">
									<h3 class="section-item-title">
										question
									</h3>
									<p class="section-item-detail">
										heheheehhehehehhehehehehehehhehhehehehehhehehehehehhehehehehehehhehehhehehhe
									</p>
								</div> <!-- /.products-item -->
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="products-item">
									<h3 class="section-item-title">
										question
									</h3>
									<p class="section-item-detail">
										heheheehhehehehhehehehehehehhehhehehehehhehehehehehhehehehehehehhehehhehehhe
									</p>
								</div> <!-- /.products-item -->
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="products-item">
									<h3 class="section-item-title">
										question
									</h3>
									<p class="section-item-detail">
										heheheehhehehehhehehehehehehhehhehehehehhehehehehehhehehehehehehhehehhehehhe
									</p>
								</div> <!-- /.products-item -->
							</div>
							<div class="col-xs-6 col-sm-4">
								<div class="products-item">
									<h3 class="section-item-title">
										question
									</h3>
									<p class="section-item-detail">
										heheheehhehehehhehehehehehehhehhehehehehhehehehehehhehehehehehehhehehhehehhe
									</p>
								</div> <!-- /.products-item -->
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.section-wrapper -->
		</div> <!-- /.container -->
	</section> <!-- /.products -->

	
<!-- Twitter Feed -->
	<section class="twitter-feed purple">
		<div class="container section-wrapper">
			<div class="section-title">
				twitter feed
			</div> <!-- /.section-title -->
			<div class="underline white"></div>
			<div class="owl-carousel twitter-owl">
				<div class="item">
					<p class="day">12 days ago</p>
					<p class="feed">
						We are glad to introduce our first HTML5/CSS3 Template called “PATROS” -http://t.co/mL9rufE7h8 @designscrazed @W3layouts @freshdesignweb
					</p>
					<div class="options">
						<a href="#"><span><i class="ion-reply"></i> replay</span></a>
						<a href="#"><span><i class="ion-social-twitter"></i> retweet</span></a>
						<a href="#"><span><i class="ion-heart"></i> favorite</span></a>
					</div>
				</div> <!-- /.item -->
				<div class="item">
					<p class="day">12 days ago</p>
					<p class="feed">
						We are glad to introduce our first HTML5/CSS3 Template called “PATROS” -http://t.co/mL9rufE7h8 @designscrazed @W3layouts @freshdesignweb
					</p>
					<div class="options">
						<a href="#"><span><i class="ion-reply"></i> replay</span></a>
						<a href="#"><span><i class="ion-social-twitter"></i> retweet</span></a>
						<a href="#"><span><i class="ion-heart"></i> favorite</span></a>
					</div>
				</div> <!-- /.item -->
				<div class="item">
					<p class="day">20 days ago</p>
					<p class="feed">
						We are glad to introduce our first HTML5/CSS3 Template called “PATROS” -http://t.co/mL9rufE7h8 @designscrazed @W3layouts @freshdesignweb
					</p>
					<div class="options">
						<a href="#"><span><i class="ion-reply"></i> replay</span></a>
						<a href="#"><span><i class="ion-social-twitter"></i> retweet</span></a>
						<a href="#"><span><i class="ion-heart"></i> favorite</span></a>
					</div>
				</div> <!-- /.item -->
				<div class="item">
					<p class="day">5 days ago</p>
					<p class="feed">
						We are glad to introduce our first HTML5/CSS3 Template called “PATROS” -http://t.co/mL9rufE7h8 @designscrazed @W3layouts @freshdesignweb
					</p>
					<div class="options">
						<a href="#"><span><i class="ion-reply"></i> replay</span></a>
						<a href="#"><span><i class="ion-social-twitter"></i> retweet</span></a>
						<a href="#"><span><i class="ion-heart"></i> favorite</span></a>
					</div>
				</div> <!-- /.item -->
			</div> <!-- /.owl-carousel -->
		</div> <!-- /.container -->
	</section> <!-- /.twitter-feed -->


<!-- faq -->
	<section class="faq" id="faq">
		<div class="container section-wrapper">
			<h2 class="section-title black">
				faq
			</h2> <!-- /.section-title -->
			<div class="underline purple"></div>
			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<div class="faq-item">
						<div class="faq-img">
							<img src="{% static 'images/port-1.png' %}" alt="port-1" class="port-item">
							<div class="faq-img-hover">
								<a href="#"><img src="{% static 'images/plus.png' %}" alt="plus" class="plus"></a>
							</div> <!-- /.faq-img-hover -->
						</div> <!-- /.faq-img -->
						<div class="faq-item-details">
							<div class="faq-item-name">
								Olivera Note <br><small>Fashion</small>
							</div> <!-- /.faq-item-name -->
							<div class="port-heart">
								<i class="ion-ios-heart-outline"></i> 564
							</div> <!-- /.port-heart -->
						</div> <!-- /.faq-item-details -->
					</div> <!-- /.faq-item -->
				</div> <!-- /.col-md-4 -->
				<div class="col-sm-4 col-xs-6">
					<div class="faq-item">
						<div class="faq-img">
							<img src="{% static 'images/port-2.png' %}" alt="port-2" class="port-item">
							<div class="faq-img-hover">
								<a href="#"><img src="{% static 'images/plus.png' %}" alt="plus" class="plus"></a>
							</div> <!-- /.faq-img-hover -->
						</div> <!-- /.faq-img -->
						<div class="faq-item-details">
							<div class="faq-item-name">
								Shift Magazine <br><small>Photography</small>
							</div> <!-- /.faq-item-name -->
							<div class="port-heart">
								<i class="ion-ios-heart-outline"></i> 564
							</div> <!-- /.port-heart -->
						</div> <!-- /.faq-item-details -->
					</div> <!-- /.faq-item -->
				</div> <!-- /.col-md-4 -->
				<div class="col-sm-4 col-xs-6">
					<div class="faq-item">
						<div class="faq-img">
							<img src="{% static 'images/port-3.png' %}" alt="port-3" class="port-item">
							<div class="faq-img-hover">
								<a href="#"><img src="{% static 'images/plus.png' %}" alt="plus" class="plus"></a>
							</div> <!-- /.faq-img-hover -->
						</div> <!-- /.faq-img -->
						<div class="faq-item-details">
							<div class="faq-item-name">
								Camp Pine Tree <br><small>Web Design</small>
							</div> <!-- /.faq-item-name -->
							<div class="port-heart">
								<i class="ion-ios-heart-outline"></i> 564
							</div> <!-- /.port-heart -->
						</div> <!-- /.faq-item-details -->
					</div> <!-- /.faq-item -->
				</div> <!-- /.col-md-4 -->
				<div class="col-sm-4 col-xs-6">
					<div class="faq-item">
						<div class="faq-img">
							<img src="{% static 'images/port-4.png' %}" alt="port-4" class="port-item">
							<div class="faq-img-hover">
								<a href="#"><img src="{% static 'images/plus.png' %}" alt="plus" class="plus"></a>
							</div> <!-- /.faq-img-hover -->
						</div> <!-- /.faq-img -->
						<div class="faq-item-details">
							<div class="faq-item-name">
								Freeart App Design <br><small>Photography</small>
							</div> <!-- /.faq-item-name -->
							<div class="port-heart">
								<i class="ion-ios-heart-outline"></i> 564
							</div> <!-- /.port-heart -->
						</div> <!-- /.faq-item-details -->
					</div> <!-- /.faq-item -->
				</div> <!-- /.col-md-4 -->
				<div class="col-sm-4 col-xs-6">
					<div class="faq-item">
						<div class="faq-img">
							<img src="{% static 'images/port-5.png' %}" alt="port-5" class="port-item">
							<div class="faq-img-hover">
								<a href="#"><img src="{% static 'images/plus.png' %}" alt="plus" class="plus"></a>
							</div> <!-- /.faq-img-hover -->
						</div> <!-- /.faq-img -->
						<div class="faq-item-details">
							<div class="faq-item-name">
								Large Poster Set <br><small>Marketing</small>
							</div> <!-- /.faq-item-name -->
							<div class="port-heart">
								<i class="ion-ios-heart-outline"></i> 564
							</div> <!-- /.port-heart -->
						</div> <!-- /.faq-item-details -->
					</div> <!-- /.faq-item -->
				</div> <!-- /.col-md-4 -->
				<div class="col-sm-4 col-xs-6">
					<div class="faq-item">
						<div class="faq-img">
							<img src="{% static 'images/port-6.png' %}" alt="port-6" class="port-item">
							<div class="faq-img-hover">
								<a href="#"><img src="{% static 'images/plus.png' %}" alt="plus" class="plus"></a>
							</div> <!-- /.faq-img-hover -->
						</div> <!-- /.faq-img -->
						<div class="faq-item-details">
							<div class="faq-item-name">
								Skilet Album Cover <br><small>Business</small>
							</div> <!-- /.faq-item-name -->
							<div class="port-heart">
								<i class="ion-ios-heart-outline"></i> 564
							</div> <!-- /.port-heart -->
						</div> <!-- /.faq-item-details -->
					</div> <!-- /.faq-item -->
				</div> <!-- /.col-md-4 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.faq -->


<!-- Testimonial -->
	<section class="testimonial">
		<div class="container section-wrapper">
			<div class="section-title">
				Testimonials
			</div> <!-- /.section-title -->
			<div class="underline white"></div>
			<div class="owl-carousel testimonial-owl">
				<div class="item">
					<p class="testimonial-detail">
						The Department of Computer Science and Engineering, Islamic University of Technology(IUT), is one of the 
					</p>
					<div class="test-name">
						<strong>Mohoshin Ahmed</strong> <br>
						ROX THEME
					</div>
				</div> <!-- /.item -->
				<div class="item">
					<p class="testimonial-detail">
						The Department of Computer Science and Engineering, Islamic University of Technology(IUT), is one of the 
					</p>
					<div class="test-name">
						<strong>Mohoshin Ahmed</strong> <br>
						ROX THEME
					</div>
				</div> <!-- /.item -->
				<div class="item">
					<p class="testimonial-detail">
						The Department of Computer Science and Engineering, Islamic University of Technology(IUT), is one of the 
					</p>
					<div class="test-name">
						<strong>Mohoshin Ahmed</strong> <br>
						ROX THEME
					</div>
				</div> <!-- /.item -->
			</div> <!-- /.owl-carousel -->
		</div> <!-- /.container -->
	</section> <!-- /.testimonial -->


<!-- Add -->
	<section class="section-wrapper add container">
		<div class="owl-carousel add-owl">
				<div class="item">
					<img src="{% static 'images/add-1.png' %}" alt="add" class="add-item">
				</div> <!-- /.item -->
				<div class="item">
					<img src="{% static 'images/add-2.png' %}" alt="add" class="add-item">
				</div> <!-- /.item -->
				<div class="item">
					<img src="{% static 'images/add-3.png' %}" alt="add" class="add-item">
				</div> <!-- /.item -->
				<div class="item">
					<img src="{% static 'images/add-4.png' %}" alt="add" class="add-item">
				</div> <!-- /.item -->
				<div class="item">
					<img src="{% static 'images/add-1.png' %}" alt="add" class="add-item">
				</div> <!-- /.item -->
				<div class="item">
					<img src="{% static 'images/add-2.png' %}" alt="add" class="add-item">
				</div> <!-- /.item -->
				<div class="item">
					<img src="{% static 'images/add-3.png' %}" alt="add" class="add-item">
				</div> <!-- /.item -->
				<div class="item">
					<img src="{% static 'images/add-4.png' %}" alt="add" class="add-item">
				</div> <!-- /.item -->
			</div> <!-- /.owl-carousel -->
	</section>
<!-- contact -->
<section class="note grad" id="contact">
<div class="container">
			<h1>Reach Us</h1>
			<div class="row">
	            <div class="col-md-3 order-item col-sm-6 col-xs-12">
	                <i class="ion-location"></i>
	                <h3>Address</h3>
	                <p class="order">
	                    alamat<br>
	                    Indonesia
	                </p>
	            </div>
	            <div class="col-md-3 order-item col-sm-6 col-xs-12">
	                <i class="ion-ios-telephone"></i>
	                <h3>Chat</h3>
	                <p class="order">
	                    Line:  <br>
	                    WA: 
	                </p>
	            </div>
	            <div class="col-md-3 order-item col-sm-6 col-xs-12">
	                <i class="ion-printer"></i>
	                <h3>Social Media</h3>
	                <p class="order">
	                    Instagram:<br>
	                    Twitter:
	                </p>
	            </div>
	            <div class="col-md-3 order-item col-sm-6 col-xs-12">
	                <i class="ion-ios-email"></i>
	                <h3>Email Address</h3>
	                <p class="order">
	                    <a href="mailto:info@ihamask.com">info@ihamask.com</a> <br>
	                    <a href="#">www.ihamask.com</a>
	                </p>
	            </div>
				</section>
<!-- /contact -->

<!-- order-->
	<section class="order section-wrapper" id="order">
		<div class="container">
			
	        
            </form> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.order -->


<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="copy">
						Copyright &copy; 2018 IHAMask
					</div>
				</div>
				<div class="col-sm-4 text-center">
					<div class="social-icon">
						<a href="#">
							<div class="icon fb">
								<i class="ion-social-facebook"></i>
							</div>
						</a>
						<a href="#">
							<div class="icon twitter">
								<i class="ion-social-twitter"></i>
							</div>
						</a>
						<a href="#">
							<div class="icon instagram">
								<i class="ion-social-instagram"></i>
							</div>
						</a>
					</div>		
				</div>
				<div class="col-sm-4 text-right">
					<div class="copy">
						Developed by </a>. All Rights Reserved
					</div>
				</div>
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer>
	


	<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/order.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	
</body>
</html>