{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		<!-- meta -->
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>IHAMask</title>

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
	    <link rel="stylesheet" href="{% static 'css/main.css' %}">
	    <link rel="stylesheet" href="{% static 'css/story.css' %}">
	    <link rel="stylesheet" href="{% static 'css/order.css' %}">
	    <link rel="stylesheet" href="{% static 'css/products.css' %}">
	    <link rel="stylesheet" href="{% static 'css/one-page-style.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/formTest.css' %}" />
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
	    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	    <style type="text/css">
	    	.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}
	    </style>
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
				<script src="{% static 'js/html5shiv.js"></script>
				<script src="{% static 'js/respond.js"></script>
			<![endif]-->

			<!--[if IE 8]>
		    	<script src="{% static 'js/selectivizr.js"></script>
		    <![endif]-->
	</head>
<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1">

<!-- Home -->
	<section class="header" id="header">
		
		<nav class="navbar navbar-default" id="navigation-bar">
			<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index-one-page.html">IHA</a>
				</div> <!-- /.navbar-header -->

		    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#header">home</a></li>
						<li><a href="#story">story</a></li>
						<li><a href="#ourProduct">products</a></li>
						<li><a href="#faq">faq</a></li>
						<li><a href="#contact">contact</a></li>
						<li><a href="#order" style="font-size:14px;"><strong>order</strong></a></li>
					</ul> <!-- /.nav -->
			    </div><!-- /.navbar-collapse -->
		  	</div><!-- /.container -->
		</nav>
		<div class="container">
			<div class="header-table">
				<div class="header-wrapper">
					<h1 class="header-title">
						NATURE TO GET BETTER
					</h1>
					<a class="header-subtitle" href="#order" >
						<strong>order</strong> now
					</a>
				</div> <!-- /.header-wrapper -->
			</div>
		</div> <!-- /.container -->
	</section> <!-- /#header -->


<!-- story Us -->
	<section class="story" id="story">
		<div class="container section-wrapper">
			<h2 class="section-title black">
				about us
			</h2> <!-- /.section-title -->
			<div class="underline purple"></div>	
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<img src="assets/images/about-1.png" alt="about" class="about-img">
				</div> <!-- /.col-md-3 -->
				<div class="col-md-3 col-sm-6">
					<img src="assets/images/about-2.png" alt="about" class="about-img">
				</div> <!-- /.col-md-3 -->

				<div class="col-md-6 col-sm-12">
					<p class="about-detail">
						The Earth was small, light blue, and so touchingly alone, our home that must be defended like a holy relic. The Earth was absolutely round. I believe I never knew what  saw for the first time how beautiful our planet is. 
					</p> <!-- /.about-detail -->
				</div> <!-- /.col-md-6 -->

			</div> <!-- /.row -->
			<div class="underline purple"></div>	

		</div> <!-- /.container -->
	</section> <!-- /.story -->


<!-- Our Team -->
	<section class="team">
		<div class="container section-wrapper">
			<div class="row">
				<div class="col-sm-4">
					<div class="fun-box">
					<h3 class="section-item-title">
						Women Use Personal Care Product Containing 168 Different Toxic Chemicals per day.</h3>
					</div>
				</div>
				<!-- <div class="col-sm-4">
					<div class="fun-box">
					<h3 class="section-item-title">
						26 Seconds Is All It Takes For the Chemicals In Your Personal Care Products to Enter Your Blood Streams.
					</h3>
				</div>
				</div>
				<div class="col-sm-4">
					<div class="fun-box">
					<h3 class="section-item-title">
						20% Cancer Increase Because of Chemical Materials On Personal Care Products.
					</h3>
				</div>
				</div>	 -->
			</div> <!-- /.row -->
			 <!-- /.row -->
	</section> <!-- /.team -->


<!-- Note -->
	<section id="ourProduct" class="note grad">
		<div class="container section-wrapper text-center">
			<div class="quoter">Introducing IHA Mask</div>
			<p class="quote">
			IHA Mask is an organic peel of mask produced by Kubu Company with a proper laboratory test.
			This facemask helps you relieving acnes, brightening skin, absorbing excessive oil, fading off black spot and scars, and minimizing pores, moisturize your skin. 
			By purchasing this mask, you will also experience various benefits such as practical facemask use, minimum side damage, and painless peel of technology.
			Suitable for all skin types, best for oily, sensitive and acne prone skin.

			</p> <!-- /.quote -->
		</div> <!-- /.container -->
	</section> <!-- /.note -->
	<!-- Deskripsi Produk -->
	<section class="fun">
		<div class="container section-wrapper">
		<h2 class="section-title black">
				Tea tree Organic Painless Peel Off Mask
			</h2> <!-- /.section-title -->
			<div class="underline purple"></div>	
			<div class="row">
				<div class="col-sm-3 col-xs-6">
					<div class="fun-box">
						<div class="number-title">
							price
						</div>
						<div class="number">
							IDR 89.000
						</div>
						<p>Including paper bag, manual book, IHA mask powder (50gram), Spoon</p>
					</div> <!-- /.fun-box -->
				</div> <!-- /.col-md-3 -->
				<div class="col-sm-9 col-xs-6">
				<div id="feed2" class="owl-carousel add-owl">
		        </div> <!-- /.owl-carousel -->
		    </div>
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.fun -->


<!-- Our productss -->
	<section class="products" id="faq">
		<div class="container">
			<div class="_section-wrapper">
				<h2 class="section-title black">
					Frequently Asked Questions
				</h2> <!-- /.section-title -->
				<div class="underline purple"></div>
				<div id="accordion">
				{% if faq %}
				{% for i in faq %}
				  <h3><strong>{{ i.titleEng}}</strong><br>{{i.titleIndo}}</h3>
				  <div>
				    <p><strong>{{ i.isiEng}}</strong><br>{{i.isiIndo}}</p>
				  </div>
				  {% endfor %}
				  {% endif %}
				</div>
				<div class="underline purple"></div>
		</div> <!-- /.container -->
	</section> <!-- /.products -->

<!-- Testimonial -->
	<section class="testimonial">
		<div class="container section-wrapper">
			<div class="section-title">
				Upcoming Events
			</div> <!-- /.section-title -->
			<div class="underline white"></div>
			<div class="owl-carousel testimonial-owl">
				{% if events %}
				{% for i in events %}
				<div class="item">
					<div class="test-name">
					<strong>{{ i.eventName }}</strong>
					<br>
					{{ i.eventVenue }}
					</div>
					<p class="testimonial-detail">
				    {{ i.eventDate }}
					</p>
				</div> <!-- /.item -->
				{% endfor %}
				{% endif %}
			</div> <!-- /.owl-carousel -->
		</div> <!-- /.container -->
	</section> <!-- /.testimonial -->

<!-- contact -->
<section class="note grad" id="contact">
<div class="container">
			<h1>Reach Us</h1>
			<div class="row align-items-center" style="align-items: center;">
	            <div class="col-md-3 contact-item col-sm-6 col-xs-12">
	                <i class="ion-location"></i>
	                <h3>Address</h3>
	                <p class="order">
	                    alamat<br>
	                    Indonesia
	                </p>
	            </div>
	            <div class="col-md-3 order-item col-sm-6 col-xs-12">
	                <i class="ion-ios-telephone"></i>
	                <h3>Chat</h3>
	                <p class="order">
	                    Line:  <br>
	                    WA: 
	                </p>
	            </div>
	            <div class="col-md-3 order-item col-sm-6 col-xs-12">
	                <i class="ion-printer"></i>
	                <h3>Social Media</h3>
	                <p class="order">
	                    Instagram: @IHAMask<br>
	                    Facebook:
	                </p>
	            </div>
	            <div class="col-md-3 order-item col-sm-6 col-xs-12">
	                <i class="ion-ios-email"></i>
	                <h3>Email Address</h3>
	                <p class="order">
	                    <a href="mailto:info@ihamask.com">info@ihamask.com</a> <br>
	                    <a href="#">www.ihamask.com</a>
	                </p>
	            </div>
				</section>
<!-- /contact -->
<!-- Add -->
	<section class="section-wrapper add container">
		<div id="feed" class="owl-carousel add-owl">
		</div> <!-- /.owl-carousel -->
	</section>
<!-- order-->
	<section class="order section-wrapper" id="order">
		<div class="orderForm">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Order</h1>
            <form id="form" method="POST" action="{% url 'IHAM_app:add_data' %}">
              {% csrf_token %}
              <div class="col-md-6" style="padding-left: 0;">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" id="InputName" placeholder="Your name" required pattern="[A-Za-z ]+" title="Name must be alphabet" name="name">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="email" class="form-control" id="InputEmail" placeholder="Enter email" required="required" name="email" onkeyup="email_checkPromo()">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter phone number" required pattern="[0-9]{10,12}" id="phone-number" title="Input must be 10-12 'number'" name="phone">
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-check">
                    <p><Strong>Tea Tree Organic</Strong> Painless Peel Off Mask <span class="badge badge-secondary">IDR 89000</span></p>
                    <input type="number" class="form-control w-100" placeholder="Enter quantity(Number)" id="quantity-productA" pattern="[0-9]+" name="productQuantityA">
                  </div>
                </div>
                <div class="col-md-3" style="display: none">
                  <div class="form-check">
                     <label class="form-check-label">
                       <input class="form-check-input" type="checkbox" id="checkboxB">Product B (Rp 7000)&nbsp;
                     </label>
                     <input type="text" class="form-control w-100" placeholder="Enter quantity(Number)" id="quantity-productB" style="display: none" pattern="[0-9]+" name="productQuantityB">
                   </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p>Total Product Price: Rp <span id="harga-barang">0</span></p>
                </div>
              </div>
              <br>
              <label class="form-control-label">Order Address:</label>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control w-100" required="required" name="street" onkeyup="updateAddress()" id="street" placeholder="Enter your address">
                  </div>
                  <div class="form-group">
                    <select class="form-control my-select-city" name="city" style="width: 100%;">
                      <option value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control w-100" required pattern="[0-9]{5}" name="postal" onkeyup="updateAddress()" id="postal" placeholder="Enter your postal code" title="Postal code consist of 5 number">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Ship To <span id="order-address"></span></p>
                  <p>Shipping Price: Rp <span id="ongkos-kirim">0</span></p>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" class="form-control w-100" name="promotion-code" id="promotion-code" placeholder="Input if you have promotion code" onkeyup="check_promo()">
                      </div>
                      <div class="col-md-6">
                        <span id="promo-icon"></span>
                      </div>
                    </div>
                  </div>
                  <h2>Total Price: Rp <span id="total-harga">0</span></h2>
                </div>
              </div>
              <br>
              <button type="submit" class="btn d-flex" id='submit-button'>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
	</section> <!-- /.order -->


<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="copy">
						Copyright &copy; 2018 IHAMask
					</div>
				</div>
				<div class="col-sm-4 text-center">
					<div class="social-icon">
						<a href="#">
							<div class="icon fb">
								<i class="ion-social-facebook"></i>
							</div>
						</a>
						<a href="#">
							<div class="icon twitter">
								<i class="ion-social-twitter"></i>
							</div>
						</a>
						<a href="#">
							<div class="icon instagram">
								<i class="ion-social-instagram"></i>
							</div>
						</a>
					</div>		
				</div>
				<div class="col-sm-4 text-right">
					<div class="copy">developed by A C F F
					</div>
				</div>
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer>
	


	<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/order.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/formTest.js' %}"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'js/formTest.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {

  $(".toggle-accordion").on("click", function() {
    var accordionId = $(this).attr("accordion-id"),
      numPanelOpen = $(accordionId + ' .collapse.in').length;
    
    $(this).toggleClass("active");

    if (numPanelOpen == 0) {
      openAllPanels(accordionId);
    } else {
      closeAllPanels(accordionId);
    }
  })

  openAllPanels = function(aId) {
    console.log("setAllPanelOpen");
    $(aId + ' .panel-collapse:not(".in")').collapse('show');
  }
  closeAllPanels = function(aId) {
    console.log("setAllPanelclose");
    $(aId + ' .panel-collapse.in').collapse('hide');
  }
     
});

		$(document).ready(function(){
		$.ajax({
        method: "GET",
        url: "https://www.instagram.com/rafidamar98/?__a=1",
        success : function(data) {
        	for (var i = 0; i < data.user.media.nodes.length; i++) {
        	 	var content = $('<img src="'+data.user.media.nodes[i].display_src+'"class="add-item"  >')
	        	 $('#feed').trigger('add.owl.carousel', [content,i])
        }
            $('#feed').trigger('refresh.owl.carousel');
    }
})
})

		$(document).ready(function(){
		$.ajax({
        method: "GET",
        url: "https://www.instagram.com/rafidamar98/?__a=1",
        success : function(data) {
        	for (var i = 0; i < data.user.media.nodes.length; i++) {
        	 	var content = $('<img src="'+data.user.media.nodes[i].display_src+'"class="add-item"  >')
	        	 $('#feed2').trigger('add.owl.carousel', [content,i])
        }
            $('#feed2').trigger('refresh.owl.carousel');
    }
})
})
		$( function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  } );

	</script>
	
</body>
</html>