<!-- Kaga muncul anjenggg -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<br><br>
<h3 style="text-align: center">Pesanan</h3>
<br><br>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <table align="center" style="text-align: center">
            <tr>
                <th>Name</th>
                <th>Email address</th>
                <th>Phone number</th>
                <th>Product A</th>
                <th>Product B</th>
                <th>Address</th>
                <th>Promotion code</th>
                <th>Total Price</th>
            </tr>
            {% for order in orderList %}
                <tr>
                    <td class="nameTable">{{ order.customerName }}</td>
                    <td class="emailTable">{{ order.customerEmail }}</td>
                    <td class="phoneTable">0{{ order.customerPhone }}</td>
                    <td class="quantityATable">{{ order.productQuantityA }}</td>
                    <td class="quantityBTable">{{ order.productQuantityB }}</td>
                    <td class="addressTable">{{ order.customerAddress }}</td>
                    <td class="promoTable">{{ order.promoCode }}</td>
                    <td class="priceTable">{{ order.grandTotalPrice }}</td>
                    <td class="deleteButton"><button type="button" class="btn btn-xs btn-danger" >X</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
	<section name="form promo">
		<form method="POST" action="{% url 'IHAM_loginAdmin:add_promo_code' %}">
			{% csrf_token %}
			<div class="col-md-6" style="padding-left: 0;">
				<div class="form-group">
	                  <label for="InputName">Promo Code</label>
	                  <div class="input-group">
	                    <input type="text" class="form-control" id="InputCode" placeholder="Enter the promo code" name="code" required>
	                  </div>
	            </div>
	            <div class="form-group">
                  <label class="form-control-label">Promo Amount(%)</label>
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="Enter the promo amount" min="0" step="1" id="promo-amount" title="Input must be a number" name="amount" required>
                  </div>
                </div>
        	</div>
        	<br>
              <button type="submit" class="btn d-flex" id='submit-button'>Add promo code</button>
		</form>
	</section>
    <br><br>
	<h3 style="text-align: center">Promo yang ada</h3>
<br><br>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <table align="center" style="text-align: center">
            <tr>
                <th>Promo code</th>
                <th>Promo amount</th>
                <th></th>
            </tr>
            {% for promo in promoCodeList %}
                <tr>
                    <td class="codeTable">{{ promo.promoCode }}</td>
                    <td class="amountTable">{{ promo.promoAmount }}%</td>
                    <td class="deleteButton"><button type="button" class="btn btn-xs btn-danger" onclick="deleteCode({{ promo.pk }})">X</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>



</body>
<script>
    var deleteCode = function(pk){
          console.log(pk);
          window.open("/login/delete_code/"+pk+"/", '_self');
        }

    // function deleteCode(id){
    //         window.open('deleteCode/'+id+'/', '_self');
    //     }
</script>
</html>